# Developer's Notebook - Erica

## Features:

7) Slope of the discharge curve, cycles 2 to 100, the first value in the vector **b*** as i eqn. 3 where d=99.

8)  Intercept of the linear fit to Q(n), cycles 2 to 100, the second value in the vector **b*** as in eqn. 3 where d= 99

9) Slope of Q(n), cycles 91 to 100 = teh first value in the vector **b*** as in eqn.3 where d = 10.

10) Intercept of the linear fit to Q(n), cycles 91 to 100, the second value in the vecotr **b*** as in eqn. 3 where d = 10.

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [19]:
data = pd.read_csv('./b1c0_summary_data.csv')
data.head()

,Unnamed: 0,IR,QC,QD,Tavg,Tmin,Tmax,chargetime,cycle
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1,1,0.016742,1.071042,1.070689,31.875011,29.566130,35.652016,13.341250,2
2,2,0.016724,1.071674,1.071900,31.931490,29.604385,35.692978,13.425777,3
3,3,0.016681,1.072304,1.072510,31.932603,29.744202,35.680588,13.425167,4
4,4,0.016662,1.072970,1.073174,31.959322,29.644709,35.728691,13.341442,5

In [20]:
def line_fit(data, start, end):
    """
    Function for fitting the curve Q(n) at various cycles (Features 9-12)
    
    ------
    
    Inputs
    
    function: function of interest
    
    start: first cycle of interest
    
    end: last cycle of interest
    
    """
    cycles = data['cycle']
    q = data['QD']
    x = np.asarray(cycles[start:end])
    y = np.asarray(q[start:end])
    slope, intercept, r_value, p_value, std_error = stats.linregress(x, y)
    
    return slope, intercept

In [23]:
def seven_to_ten(data, cycle=100):
    
    _seven,_eight= line_fit(data, 2, cycle)
    _nine,_ten= line_fit(data,cycle-10,cycle)
    
    return [_seven,_eight,_nine,_ten]

In [24]:
seven_to_ten(data, 100)

[-0.00021945644600858112,
 1.091999677377605,
 3.532363636364148e-05,
 1.0724246927272723]