This is the feature extractor for finding Min_T, Max_T & Int_T

In [2]:
# import the necessarry libraries

import pandas as pd
import numpy as np
import scipy
from scipy import integrate

In [5]:
# read the data from the csv file

data = pd.read_csv('../Data/b1c0_cycling_data.csv')
data.head(5)

,Unnamed: 0,t,Cycle_Index,I,V,Qc,Qd,T
0,0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
1,1,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
2,0,0.000000,1.0,0.000000,2.026416,0.000000,0.0,31.632496
3,1,0.002417,1.0,0.215908,2.039388,0.000001,0.0,31.632496
4,2,0.002912,1.0,0.359831,2.051660,0.000001,0.0,31.632496

In [6]:
# finding out the min_T & max_T
for data['Cycle_Index'] in range (2,200):
    Max_T=data['T'].max()
    Min_T=data['T'].min()
print(Max_T,Min_T)

36.043293 0.0

In [9]:
T_Value = []
t_Value = []
for data['Cycle_Index'] in range (2,200):
    T_Value = data['T']
    t_Value = data['t']

In [11]:
t_Value

0          0.000000
1          0.000000
2          0.000000
3          0.002417
4          0.002912
5          0.003212
6          0.003498
7          0.003958
8          0.004193
9          0.004420
10         0.004682
11         0.004887
12         0.005128
13         0.005382
14         0.005508
15         0.005862
16         0.006142
17         0.006268
18         0.006522
19         0.006683
20         0.006937
21         0.007217
22         0.007468
23         0.007683
24         0.007935
25         0.008095
26         0.008348
27         0.008508
28         0.008788
29         0.008922
            ...
224207    52.961662
224208    53.045057
224209    53.128403
224210    53.128405
224211    53.211833
224212    53.295188
224213    53.295190
224214    53.378558
224215    53.378560
224216    53.461947
224217    53.461948
224218    53.545292
224219    53.545293
224220    53.628630
224221    53.711978
224222    53.711980
224223    53.795393
224224    53.878852
224225    53.962268
224226    54.045648
224227    54.129113
224228    54.212492
224229    54.212493
224230    54.295917
224231    54.295918
224232    54.379370
224233    54.390817
224234    54.391933
224235    54.401867
224236    54.408683
Name: t, Length: 224237, dtype: float64

In [12]:
T_Integ1 = integrate.trapz(T_Value, t_Value)
print(T_Integ1)

99.27550287958002