This is the feature extractor for finding Min_T, Max_T & Int_T

In [5]:
# import the necessarry libraries

import pandas as pd
import numpy as np
import scipy
from scipy import integrate

In [6]:
# read the data from the csv file

data = pd.read_csv('../2018-04-12_batch8_CH29.csv')
data.head(5)

,Data_Point,Test_Time,DateTime,Step_Time,Step_Index,Cycle_Index,Current,Voltage,Charge_Capacity,Discharge_Capacity,Charge_Energy,Discharge_Energy,dV/dt,Internal_Resistance,Temperature,Aux_Voltage
0,0,60.0043,1.523583e+09,60.0043,0,0,0.0,3.298726,0.0,0.0,0.0,0.0,-0.000083,NaN,NaN,NaN
1,1,120.0071,1.523583e+09,120.0071,0,0,0.0,3.298743,0.0,0.0,0.0,0.0,0.000047,NaN,22.442730,NaN
2,2,180.0114,1.523583e+09,180.0114,0,0,0.0,3.298751,0.0,0.0,0.0,0.0,-0.000045,NaN,22.547295,NaN
3,3,240.0103,1.523583e+09,240.0103,0,0,0.0,3.298833,0.0,0.0,0.0,0.0,0.000047,NaN,22.860848,NaN
4,4,300.0046,1.523583e+09,300.0046,0,0,0.0,3.298833,0.0,0.0,0.0,0.0,0.000010,NaN,23.147684,NaN

In [7]:
# finding out the min_T & max_T
for data['Cycle_Index'] in range (2,200):
    Max_T=data['Temperature'].max()
    Min_T=data['Temperature'].min()
print(Max_T,Min_T)

40.562739133112146 22.442729999999997

In [17]:
T_Value = []
t_Value = []
for data['Cycle_Index'] in range (2,200):
    T_Value = data['Temperature']
    t_Value = data['Test_Time']

0               NaN
1         22.442730
2         22.547295
3         22.860848
4         23.147684
5         23.387768
6         23.664484
7         23.956564
8         24.258218
9         24.528715
10        24.854809
11        25.220880
12        25.565255
13        25.808596
14        26.117178
15        26.453092
16        26.847091
17        27.118685
18        27.459538
19        27.800407
20        28.123102
21        28.448108
22        28.864107
23        29.150175
24        29.462474
25        29.798607
26        30.100140
27        30.377703
28        30.642912
29        30.822088
            ...
855790    31.061994
855791    31.063622
855792    31.065262
855793    31.068545
855794    31.071778
855795    31.075623
855796    31.069519
855797    31.060354
855798    31.092813
855799    31.112095
855800    31.122206
855801    31.083616
855802    31.079363
855803    31.095606
855804    31.118599
855805    31.090130
855806    31.080664
855807    31.063534
855808    31.098099
855809    31.103964
855810    31.077633
855811    31.066563
855812    31.095987
855813    31.067785
855814    31.116190
855815    31.121395
855816    31.151707
855817    31.135496
855818    31.122316
855819    31.173160
Name: Temperature, Length: 855820, dtype: float64

In [18]:
T_Integ1 = integrate.trapz(T_Value, t_Value)
print(T_Integ1)

nan